# Configurações de Envio de E-mail (Nodemailer)
# Para usar com Gmail, gere uma "Senha de App" nas configurações de segurança do Google.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app
CONTACT_RECEIVER_EMAIL=seu-email@gmail.com
